@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@300;400;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

button {
  cursor: pointer;
}

input,
button,
textarea {
  font-family: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'GothamBlack';
  src: url("../fonts/GothamBlack.eot");
  src: local("O"), url("fonts/GothamBlack.woff") format("woff"), url(" ../fonts/GothamBlack.ttf") format("truetype"), url("../fonts/GothamBlack.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 20px;
  height: 94px;
}
.header .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__inner nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 997px) {
  .header .header__inner nav {
    display: none;
  }
}
.header .header__inner nav .nav__link {
  font-size: 13.5px;
  text-transform: uppercase;
  font-weight: normal;
  color: #394B50;
  border-radius: 4px;
  font-family: "lato", sans-serif;
  padding: 10px 20px;
  transition: background-color .2s linear;
}
.header .header__inner nav .nav__link .nav__link:first-child {
  margin-left: 0;
}
.header .header__inner nav .nav__link:hover {
  background-color: #FFC155;
}
.header .header__inner .burger {
  display: none;
  background: none;
  cursor: pointer;
  padding: 15px 3px;
}
@media (max-width: 997px) {
  .header .header__inner .burger {
    display: block;
  }
}
.header .header__inner .burger .burger__item {
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background-color: #394B50;
  font-size: 0;
  color: transparent;
}
.header .header__inner .burger .burger__item:before, .header .header__inner .burger .burger__item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #394B50;
}
.header .header__inner .burger .burger__item:before {
  top: -8px;
}
.header .header__inner .burger .burger__item:after {
  bottom: -8px;
}

.section {
  padding: 80px 0;
  background-color: #709DCA;
}
.section .section__header {
  width: 100%;
  max-width: 746px;
  text-align: center;
  margin: 0 auto;
}
.section .section__header .section__title {
  margin-top: 20px;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.4;
}
@media (max-width: 1200px) {
  .section .section__header .section__title {
    font-size: 30px;
  }
}
@media (max-width: 995px) {
  .section .section__header .section__title {
    font-size: 25px;
  }
}
.section .section__header .section__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}
.section .form__header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 20px;
  margin-bottom: 20px;
}
.section .form__header .form__item {
  width: 25%;
  position: relative;
}
.section .form__header .form__item input {
  font-size: 14px;
  width: 284px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 35px;
  padding-right: 10px;
}
.section .form__header .form__item input:placeholder {
  color: #ccc;
}
.section .form__header .form__item i {
  padding: 15px 13px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
@media (max-width: 775px) {
  .section .form__header .form__item i {
    padding: 10px 13px;
  }
}
.section .form__header .btn {
  text-transform: uppercase;
  padding: 16px 25px 16px 25px;
  font-size: 14px;
  background-color: #FFC155;
  color: #ffffff;
  font-weight: normal;
  transition: backgraun .2s linear;
}
.section .form__header .btn:hover {
  background-color: #e9a634;
}
.section .laptop {
  height: 380px;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
  margin-bottom: -180px;
}
.section .laptop:before {
  background: url("https://vladimir-ivano.github.io/new___111/img/slider2.png") center no-repeat;
  background-size: contain;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  height: calc(100% - 36px);
  width: 100%;
  z-index: 10;
}
.section .laptop__images {
  background-color: #000;
  height: calc(100% - 40px);
  margin: 4px auto 0;
  max-width: 450px;
  overflow: hidden;
  position: relative;
}
.section .laptop__img {
  left: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.4s;
  transform: translateX(-50%);
  widows: auto;
}
.section .laptop__img.is-active {
  opacity: 1;
}
.section .laptop__tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
  padding: 0;
}
.section .laptop__tab {
  border: 2px solid #dedfe0;
  border-radius: 50%;
  height: 16px;
  cursor: pointer;
  display: block;
  margin: 0 4px;
  transition: border-color 0.4s;
  width: 16px;
}
.section .laptop__tab.is-active {
  border-color: #21aade;
}

.section--features {
  background-color: #fff;
  padding: 190px 0 140px 0;
}
@media (max-width: 995px) {
  .section--features {
    padding: 100px 0 100px 0;
  }
}
@media (max-width: 775px) {
  .section--features {
    padding: 120px 0 100px 0;
  }
}
.section--features .features {
  width: 100%;
  max-width: 746px;
  text-align: center;
  margin: 0 auto;
}
.section--features .features .features--title {
  margin-top: 20px;
  font-size: 35px;
  text-transform: uppercase;
  color: #394B50;
  font-weight: 700;
  line-height: 1.4;
}
.section--features .features .features--text {
  color: #394B50;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-bottom: 56px;
}

.features__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features__inner .features__item {
  width: 50%;
  padding-left: 80px;
  position: relative;
  padding-right: 35px;
  margin: 25px 0;
}
@media (max-width: 770px) {
  .features__inner .features__item {
    width: 100%;
    padding-left: 70px;
  }
}
.features__inner .features__icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
@media (max-width: 770px) {
  .features__inner .features__icon {
    left: 0;
  }
}
.features__inner .features__title {
  color: #394B50;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.features__inner .features__text {
  line-height: 22px;
  font-size: 13px;
  font-weight: normal;
  color: #818B95;
}

.about {
  background: #FFC155 url(../img/work.jpg) center left no-repeat;
  background-size: 50% 100%;
  height: 625px;
}
.about .about__inner {
  height: 100%;
  display: flex;
  align-items: center;
}
.about .about__inner .about__content {
  padding-left: calc(50% + 78px);
}
.about .about__inner .about__content .about__title {
  font-size: 30px;
  font-family: Gotham-Black;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}
.about .about__inner .about__content .about__text {
  font-size: 13px;
  font-family: "lato", sans-serif;
  font-weight: normal;
  line-height: 1.8;
  color: #ffffff;
  margin-bottom: 52px;
}
.about .about__inner .about__content .btn--about {
  text-transform: uppercase;
  background-color: #FFC155;
  padding: 13px 31px;
  color: #ffffff;
  border: 1px solid #E7AD48;
  transition: background .2s linear;
}
.about .about__inner .about__content .btn--about:hover {
  background-color: #e9a634;
}

.section--prise {
  padding: 134px 0 164px 0;
  background-color: #E7EDF3;
}
.section--prise .prise {
  width: 100%;
  max-width: 746px;
  text-align: center;
  margin: 0 auto;
}
.section--prise .prise .prise--title {
  margin-top: 20px;
  font-size: 35px;
  text-transform: uppercase;
  color: #394B50;
  font-weight: 700;
  line-height: 1.4;
}
.section--prise .prise .prise--text {
  color: #394B50;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 85px;
}
.section--prise .prise__inner {
  align-items: center;
  display: flex;
  height: 500px;
}
.section--prise .prise__inner .prise__item {
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ccd5df;
  color: #818b95;
  flex-basis: calc(100%/3);
  padding: 52.5px 30px;
  transition: all 0.4s;
}
.section--prise .prise__inner .prise__item:hover {
  background-color: #709dca;
  border-color: #709dca;
  color: #fff;
  padding: 82.5px 30px;
}
.section--prise .prise__inner .prise__item:hover .suptitle__prise,
.section--prise .prise__inner .prise__item:hover .prise__work,
.section--prise .prise__inner .prise__item:hover .prise__work:before {
  color: #fff;
}
.section--prise .prise__inner .title__prise {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.section--prise .prise__inner .suptitle__prise {
  align-items: flex-start;
  color: #ffbb42;
  display: flex;
  flex-wrap: wrap;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;
  transition: color 0.4s;
}
.section--prise .prise__inner .suptitle__prise:before {
  content: '$';
  font-size: 40px;
  font-weight: normal;
}
.section--prise .prise__inner .suptitle__prise:after {
  color: #818b95;
  content: 'per month';
  flex-basis: 100%;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  transition: color 0.4s;
}
@media (max-width: 995px) {
  .section--prise .prise__inner .suptitle__prise:after {
    font-size: 15px;
  }
}
.section--prise .prise__inner .prise__list {
  margin: 20px 0;
}
.section--prise .prise__inner .prise__work {
  border-top: 1px solid #e2e9f0;
  color: #b5bbc1;
  font-size: 14px;
  padding: 10px 0;
  text-transform: uppercase;
}
.section--prise .prise__inner .btn--prise {
  background-color: #ffbb42;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  text-transform: uppercase;
}

.section--work {
  background-color: #fff;
  padding: 135px 0 126px 0;
}
@media (max-width: 995px) {
  .section--work {
    padding: 100px 0 80px 0;
  }
}
@media (max-width: 775px) {
  .section--work {
    padding: 80px 0 80px 0;
  }
}
.section--work .work {
  width: 100%;
  max-width: 746px;
  text-align: center;
  margin: 0 auto;
}
.section--work .work .title--work {
  margin-top: 20px;
  font-size: 35px;
  text-transform: uppercase;
  color: #394B50;
  font-weight: 700;
  line-height: 1.4;
}
.section--work .work .text--work {
  color: #394B50;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 69px;
}
.section--work .work__inner {
  display: flex;
  align-items: flex-start;
  background: url(../img/2.png) center 45% no-repeat;
}
@media (max-width: 995px) {
  .section--work .work__inner {
    background: none;
    display: inline-block;
  }
}
.section--work .work__inner .work__grup {
  display: flex;
  background: url(../img/1.png) center 15% no-repeat;
}
@media (max-width: 775px) {
  .section--work .work__inner .work__grup {
    background: none;
  }
}
@media (max-width: 775px) {
  .section--work .work__inner .work__grup {
    display: inline-block;
  }
}
.section--work .work__inner .work__item {
  text-align: center;
  margin: 87px 0px;
  padding: 0 25px;
}
@media (max-width: 995px) {
  .section--work .work__inner .work__item {
    margin: 65px 0px;
    padding: 0 80px;
  }
}
@media (max-width: 775px) {
  .section--work .work__inner .work__item {
    padding: 0 80px;
  }
}
.section--work .work__inner .icon__work {
  margin-bottom: 90px;
}
.section--work .work__inner .work__title {
  font-size: 20px;
  text-transform: uppercase;
  color: #394B50;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}
.section--work .work__inner .work__text {
  font-size: 13px;
  line-height: 22px;
  color: #394B50;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.section--work .button {
  text-align: center;
}
.section--work .button .btn--work {
  text-align: center;
  padding: 15px 25px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #FFC155;
  transition: background .2s linear;
}
.section--work .button .btn--work:hover {
  background-color: #e9a634;
}

.section--clients {
  padding: 136px 0 140px 0;
  background-color: #FFC155;
}
@media (max-width: 995px) {
  .section--clients {
    padding: 100px 0 80px 0;
  }
}
@media (max-width: 775px) {
  .section--clients {
    padding: 80px 0 80px 0;
  }
}
.section--clients .clients {
  width: 100%;
  max-width: 746px;
  text-align: center;
  margin: 0 auto;
}
.section--clients .clients .title--clients {
  margin-top: 20px;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.4;
}
.section--clients .clients .text--clients {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 60px;
}
.section--clients .clients__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section--clients .clients__inner .clients__item {
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: #fff;
  padding-left: 161px;
  position: relative;
}
@media (max-width: 995px) {
  .section--clients .clients__inner .clients__item {
    flex-basis: calc(100% - 10px);
  }
}
@media (max-width: 640px) {
  .section--clients .clients__inner .clients__item {
    padding-left: 10px;
  }
}
.section--clients .clients__inner .clients__item .clients__photo {
  border-radius: 50%;
  position: absolute;
  top: 42px;
  left: 20px;
  z-index: 1;
}
@media (max-width: 640px) {
  .section--clients .clients__inner .clients__item .clients__photo {
    position: relative;
    margin: 10px auto;
    top: 10px;
    left: 170px;
  }
}
.section--clients .clients__inner .clients__item .clients__text {
  font-size: 13px;
  color: #7B7B7B;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
  padding-right: 10px;
  padding-top: 40px;
}
@media (max-width: 640px) {
  .section--clients .clients__inner .clients__item .clients__text {
    text-align: left;
    margin-bottom: 15px;
    padding-top: 15px;
  }
}
.section--clients .clients__inner .clients__item .clents__name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  font-family: "lato", sans-serif;
  color: #D6DDDF;
  padding-bottom: 50px;
}
.section--clients .clients__inner .clients__item .clents__name span {
  color: #F6772C;
}
@media (max-width: 640px) {
  .section--clients .clients__inner .clients__item .clents__name {
    padding-bottom: 20px;
  }
}

.section--map {
  padding: 154px 0 48px 0;
  background: url(../img/map2.jpg) no-repeat;
  background-position: top 400px center;
  height: 1000px;
}
@media (max-width: 995px) {
  .section--map {
    padding: 100px 0 80px 0;
  }
}
@media (max-width: 775px) {
  .section--map {
    padding: 80px 0 48px 0;
  }
}
.section--map .map {
  width: 100%;
  max-width: 746px;
  text-align: center;
  margin: 0 auto;
}
.section--map .map .title--map {
  margin-top: 20px;
  font-size: 35px;
  text-transform: uppercase;
  color: #394B50;
  font-weight: 700;
  line-height: 1.4;
}
.section--map .map .text--map {
  color: #394B50;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 40px;
}
.section--map .form__map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 100px;
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  .section--map .form__map {
    margin: 0 80px;
    margin-bottom: 100px;
  }
}
.section--map .form__map .form__col--first {
  width: 34%;
  position: relative;
}
@media (max-width: 1200px) {
  .section--map .form__map .form__col--first {
    max-width: 50%;
  }
}
@media (max-width: 995px) {
  .section--map .form__map .form__col--first {
    width: 100%;
  }
}
.section--map .form__map .form__col--first .name__map {
  border: 1px solid #C7C7C7;
  width: 307px;
  font-size: 14px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 35px;
  padding-right: 10px;
}
.section--map .form__map .form__col--first .name__map:placeholder {
  color: #ccc;
}
@media (max-width: 1200px) {
  .section--map .form__map .form__col--first .name__map {
    width: 370px;
  }
}
.section--map .form__map .form__col--first i {
  padding: 15px 13px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.section--map .form__map .form__col--second {
  width: 43%;
  position: relative;
}
@media (max-width: 1200px) {
  .section--map .form__map .form__col--second {
    max-width: 50%;
  }
}
@media (max-width: 995px) {
  .section--map .form__map .form__col--second {
    width: 100%;
  }
}
.section--map .form__map .form__col--second .email__map {
  border: 1px solid #C7C7C7;
  width: 386px;
  font-size: 14px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 35px;
  padding-right: 10px;
}
.section--map .form__map .form__col--second .email__map:placeholder {
  color: #ccc;
}
.section--map .form__map .form__col--second i {
  padding: 15px 13px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.section--map .form__col--thihg {
  width: 23%;
}
@media (max-width: 1200px) {
  .section--map .form__col--thihg {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}
.section--map .form__col--thihg .btn--map {
  text-transform: uppercase;
  padding: 16px 48px 16px 48px;
  font-size: 14px;
  background-color: #FFC155;
  color: #ffffff;
  font-weight: normal;
  transition: backgraun .2s linear;
}
.section--map .form__col--thihg .btn--map:hover {
  background-color: #e9a634;
}

.adress {
  text-align: center;
  margin: 0 auto;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: #394B50;
  position: relative;
  margin-bottom: 20px;
}
.adress:before {
  content: "";
  border: solid transparent;
  position: absolute;
  top: 99%;
  left: 50%;
  border-top-color: #394B50;
  border-width: 12px;
  margin-left: -12px;
}
.adress__link {
  font-size: 13px;
  color: #AEB7BA;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  top: 56px;
  left: 0;
  z-index: 1;
}
.adress__link span {
  color: #FFBB42;
}
.adress__link h1 {
  text-transform: uppercase;
  color: #fff;
}

.adress__logo {
  display: block;
  margin: 0 auto;
}

.footer__inner {
  border-top: 2px solid #E3E7EC;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.footer__inner .footer__link {
  margin-top: 60px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  font-family: "lato", sans-serif;
  color: #394B50;
  margin-right: 33px;
}
@media (max-width: 775px) {
  .footer__inner .footer__link {
    margin-top: 30px;
  }
}
.footer__inner .footer__link__link:last-child {
  margin-right: 0;
}
.footer .number {
  text-align: center;
  margin-bottom: 22px;
  color: #394B50;
  position: relative;
}
.footer .number .tell {
  font-weight: 700;
  font-size: 23px;
}
.footer .number i {
  font-size: 19px;
  position: absolute;
  bottom: 4px;
  left: 483px;
  z-index: 1;
}
.footer .social__inner {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;
}
.footer .social__inner .social__icon {
  display: block;
  fill: #709DCA;
  margin-right: 20px;
  height: 20px;
  width: 20px;
  transition: backgraun .2s linear;
}
.footer .social__inner .social__icon:hover {
  fill: #FFC155;
}
.footer .fotter__text {
  padding: 15px 0;
  text-align: center;
  background-color: #709DCA;
  color: #fff;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}
